#container {
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
}

#gif {
    position: absolute;
    top: 10%;
    left: -10px; /* Initial position, adjust as needed */
    transform: translateY(-40%);
    transition: all 12s ease; /* Adjust duration as needed */
    height: 80px;
    width: 80px;
}
